.container{
	background-size: cover;

}

.calc-container{
	height: 300px;
	width:500px;
	background-color: pink;
	padding: 3%;
}

.calc-upper{
	height: 50px;
	width: 90%;
	padding:3%;
}
.calc-screen{
	width: 100%;
	height: 40px;
}

.calc-body{
	padding: 3%;
}
.calc-nums{
	background-color: green;
}